@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent default browser scrollbars */
    background-color: #4CAF50;  /*Green background color*/
    background-size: cover;
    animation: gradientAnimation 10s ease infinite;
}

.container {
    text-align: center;
    background-color: #ffffff; /* White background color */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

h1 {
    color: #333333; /* Dark gray text color */
}

.weather-info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9; /* Light gray background color */
    border-radius: 8px;
}

button {
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #3498db; /* Blue button color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* this is for background video */
/* #myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
} */














































/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.weather-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

button {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
} */
